<html>
<head>
  <title>hi</title>
</head>
<body>
  <form action="/accounts/login/" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <p>{{ form.non_field_errors }}</p>


          {{ form.docfile.errors }}
            <table  class="table table-hover table-striped">
              <tr>
                <td>{{ form.username }}</td>
                <td>{{ form.password }}</td>
              </tr>
              <tr>
                <td colspan="2">
                  <center>
                    <input type="submit" value="Upload" />
                  </center>
                </td>
              </tr>
            </table>
        </form>

</body>
</html>
