<!DOCTYPE html>
<html>
  <head>
    <title>Map View</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <div style="display:none;">
      <div id="own">{{data}}</div>
      <div id="others">{{others}}</div>
    </div>

    <script>

function keys(obj){
  var keys = [];
for(var k in obj) keys.push(k);
return keys;
}

function mark(lat, long, id, zind){
  var a = [];
  a.push("mark"+ id.toString());
  a.push(lat);
  a.push(long);
  a.push(zind);

  return a;
}

var map;
function initMap() {
  var points = [];



  var trip = JSON.parse(document.getElementById("own").innerHTML);
  lat = trip["lat"];
  long = trip["lng"];
  id = trip["id"];
  a = mark(lat, long, id, 0);
  points.push(a);

  latitude = a[1];
  longitiude = a[2];

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: a[1], lng: a[2]},
    zoom: 12
  });

  others = JSON.parse(document.getElementById("others").innerHTML);
  for (var i=0; i<keys(others).length; i++)
  {
    var trip = JSON.parse(others[keys(others)[i]]);
    lat = trip["lat"];
    long = trip["lng"];
    id = trip["id"];
    a = mark(lat, long, id, 0);
    points.push(a);
  }


  function stroke(str){
    var goldStar = {
      path: "M 0, 0 m -5, 0 a 5,5 0 1,0 10,0 a 5,5 0 1,0 -10,0",
      fillColor: str,
      fillOpacity: 1,
      scale: 1,
      strokeColor: str,
      strokeWeight: 4
    };

    return goldStar;
  }

  function bigstroke(str){
    var goldStar = {
      path: "M 0, 0 m -15, 0 a 15,15 0 1,0 30,0 a 15,15 0 1,0 -30,0",
      fillColor: str,
      fillOpacity: 0.8,
      scale: 1,
      strokeColor: str,
      strokeWeight: 15
    };

    return goldStar;
  }

  for (var i = 0; i < points.length; i++)
  {
    var str;
    if (i==0)str="blue";
    else str="red";
    var beach = points[i];
    var marker = new google.maps.Marker({
      position: {lat: beach[1], lng: beach[2]},
      map: map,
      icon: stroke(str),
      title: beach[0],
      zIndex: beach[3]
      });
    }
    
    if(i==0){
      var beach = points[i];
      var marker1 = new google.maps.Marker({
        position: {lat: beach[1], lng: beach[2]},
        map: map,
        icon: bigstroke(str),
        title: beach[0],
        zIndex: 3
        });

    }
}

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaGtYClrlx9obAZl8D_FpwbwJpT5SEKbM&callback=initMap"
        async defer></script>
  </body>
</html>
