<!DOCTYPE html>
<html>

  <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Share a Cab</title>
      {% load staticfiles %}
      <!-- Bootstrap Core CSS -->
      <link href="{% static 'temp/css/bootstrap.min.css' %}" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="{% static 'temp/css/landing-page.css' %}" rel="stylesheet">

      <!-- Custom Fonts -->
      <link href="{% static 'temp/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>

  <body>

      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
          <div class="container topnav">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand topnav" href="#">Share a cab</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li>
                          <a href="#about">About</a>
                      </li>
                      <li>
                          <a href="#services">Services</a>
                      </li>
                      {% if login%}
                      <li>
                          <a href="/accounts/login">Login</a>
                      </li>
                      {% else %}
                      <li>
                          <a href="/home/trips">Trips</a>
                      </li>
                      <li>
                          <a href="/accounts/logout">Logout</a>
                      </li>
                      {% endif %}
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
      </nav>

      <!-- Header -->
      <a name="about"></a>
      <div class="intro-header">
          <div class="container">

              <div class="row">
                  <div class="col-lg-12">
                      <div class="intro-message" id="data">
                      </div>
                  </div>
              </div>

          </div>
          <!-- /.container -->

      </div>

      <div id="abc" style="display:none;">
        {{data}}
      </div>

      <script>
        function keys(obj){
          var keys = [];
          for(var k in obj) keys.push(k);
            return keys;
        }

        function abc(){
          others = JSON.parse(document.getElementById("abc").innerHTML) ;
          k = document.getElementById('data');
          for (var i=0; i<keys(others).length; i++)
          {
            var trip = JSON.parse(others[keys(others)[i]]);
            st = "<a href='/home/maps/"+trip["id"].toString()+"'>TripId:"+trip["id"].toString()+"</a>";
            k.innerHTML = k.innerHTML + st +"<br>";
          }
        }

        abc();
      </script>

      <!-- /.intro-header -->

      <!-- Page Content -->

    <!-- /.content-section-a -->

    <!-- jQuery -->
      <script src="{% static 'temp/js/jquery.js' %}"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="{% static 'temp/js/bootstrap.min.js' %}"></script>

  </body>

</html>
